{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
    <title>Login</title>
    <meta charset="UTF-8">
</head>
<body>
<!--Login--> 
<div class="container py-5">
<h1>Login with your account.</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password">
        <button type="submit"> Submit</button>
    </form>
    <p class="text-center">Don't have an account? <a href="{% url "signup" %}">Create an account</a>.</p>
</body>
</html>